<h2>
  Endpoints
</h2>

<p>
  Can either use Postman or the browser to view the different endpoints
  <br/>
  Note these links assume you're running on port 3010
</p>


<p>
  <h4>
    Totals
  </h4>
  <a href="http://localhost:3010/api/v1/carriers/total_count" target="_blank">
    Carriers Count
  </a>
  (http://localhost:3010/api/v1/carriers/total_count)
  <br/>
  <a href="http://localhost:3010/api/v1/clients/total_count" target="_blank">
    Client Count
  </a>
  (http://localhost:3010/api/v1/clients/total_count)
  <br/>
  <a href="http://localhost:3010/api/v1/policies/total_count" target="_blank">
    Policies Count
  </a>
  (http://localhost:3010/api/v1/policies/total_count)
</p>

<p>
  <h4>
    Pagenated Client List
    <br/>
  </h4>
  <a href="http://localhost:3010/api/v1/clients/list?page=5" target="_blank">
    Client Listing
  </a>
  (http://localhost:3010/api/v1/clients/list?page=5)
</p>

<p>
  <h4>
    Client Policies
    <br/>
  </h4>
  Change ID after clients ".../clients/***ID***/policies" to switch
  <br/>
  <a href="http://localhost:3010/api/v1/clients/12/policies" target="_blank">
    Clay Inc policies id 12
  </a>
  (http://localhost:3010/api/v1/clients/12/policies)
</p>
